In [1]:
import pandas as pd
import quandl

In [2]:
df= quandl.get('WIKI/GOOGL')

In [3]:
df.shape

(3133, 12)

In [4]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2004-08-19,100.01,104.06,95.96,100.335,44659000.0,0.0,1.0,50.159839,52.191109,48.128568,50.322842,44659000.0
2004-08-20,101.01,109.08,100.50,108.310,22834300.0,0.0,1.0,50.661387,54.708881,50.405597,54.322689,22834300.0
2004-08-23,110.76,113.48,109.05,109.400,18256100.0,0.0,1.0,55.551482,56.915693,54.693835,54.869377,18256100.0
2004-08-24,111.24,111.60,103.57,104.870,15247300.0,0.0,1.0,55.792225,55.972783,51.945350,52.597363,15247300.0
2004-08-25,104.76,108.00,103.88,106.000,9188600.0,0.0,1.0,52.542193,54.167209,52.100830,53.164113,9188600.0

In [5]:
df.describe()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
count,3133.000000,3133.000000,3133.000000,3133.000000,3.133000e+03,3133.000000,3133.0,3133.000000,3133.000000,3133.000000,3133.000000,3.133000e+03
mean,560.891869,566.198852,555.028096,560.627649,8.388158e+06,0.181287,1.0,356.106343,359.361184,352.469040,355.936297,8.388158e+06
std,201.193683,201.808334,200.229562,201.062366,8.395427e+06,10.147206,0.0,196.550088,197.664593,195.112039,196.442345,8.395427e+06
min,99.090000,101.740000,95.960000,100.010000,5.211410e+05,0.000000,1.0,49.698414,51.027517,48.128568,50.159839,5.211410e+05
25%,445.300000,451.470000,439.000000,444.320000,3.192600e+06,0.000000,1.0,223.339427,226.433980,220.179674,222.847910,3.192600e+06
50%,548.730000,553.990000,543.850000,548.840000,5.612500e+06,0.000000,1.0,289.132524,291.886024,286.930728,289.654135,5.612500e+06
75%,669.190000,675.000000,660.510000,668.510000,1.106950e+07,0.000000,1.0,519.037218,524.430000,514.588485,519.217776,1.106950e+07
max,1226.800000,1228.880000,1218.600000,1220.170000,8.215110e+07,567.971668,1.0,859.050000,867.000000,850.520100,858.450000,8.215110e+07

In [6]:
df.index.min(), df.index.max()

(Timestamp('2004-08-19 00:00:00'), Timestamp('2017-01-27 00:00:00'))

In [7]:
import numpy as np

In [8]:
print np.corrcoef([df.High, df.Low, df.Open, df.Close])

[[ 1.          0.99951507  0.99970573  0.9996289 ]
 [ 0.99951507  1.          0.99956771  0.99970094]
 [ 0.99970573  0.99956771  1.          0.99927907]
 [ 0.9996289   0.99970094  0.99927907  1.        ]]

In [9]:
df= df[['Adj. Open', 'Adj. Close', 'Adj. High', 'Adj. Low', 'Adj. Volume']]

In [10]:
df.head()

            Adj. Open  Adj. Close  Adj. High   Adj. Low  Adj. Volume
Date
2004-08-19  50.159839   50.322842  52.191109  48.128568   44659000.0
2004-08-20  50.661387   54.322689  54.708881  50.405597   22834300.0
2004-08-23  55.551482   54.869377  56.915693  54.693835   18256100.0
2004-08-24  55.792225   52.597363  55.972783  51.945350   15247300.0
2004-08-25  52.542193   53.164113  54.167209  52.100830    9188600.0

In [11]:
df['hl_pct'] = (df['Adj. High'] - df['Adj. Low'])/df['Adj. Low'] * 100.0

In [12]:
df['pct_change'] = (df['Adj. Close'] - df['Adj. Open'])/df['Adj. Open'] * 100.0

In [13]:
df.head()

,Adj. Open,Adj. Close,Adj. High,Adj. Low,Adj. Volume,hl_pct,pct_change
Date,,,,,,,
2004-08-19,50.159839,50.322842,52.191109,48.128568,44659000.0,8.441017,0.324968
2004-08-20,50.661387,54.322689,54.708881,50.405597,22834300.0,8.537313,7.227007
2004-08-23,55.551482,54.869377,56.915693,54.693835,18256100.0,4.062357,-1.227880
2004-08-24,55.792225,52.597363,55.972783,51.945350,15247300.0,7.753210,-5.726357
2004-08-25,52.542193,53.164113,54.167209,52.100830,9188600.0,3.966115,1.183658

In [14]:
df= df[['Adj. Close', 'hl_pct', 'pct_change', 'Adj. Volume']]

In [15]:
df.head()

            Adj. Close    hl_pct  pct_change  Adj. Volume
Date
2004-08-19   50.322842  8.441017    0.324968   44659000.0
2004-08-20   54.322689  8.537313    7.227007   22834300.0
2004-08-23   54.869377  4.062357   -1.227880   18256100.0
2004-08-24   52.597363  7.753210   -5.726357   15247300.0
2004-08-25   53.164113  3.966115    1.183658    9188600.0

In [16]:
df.fillna(-99999, inplace= True)

In [17]:
import math
forecast_col= 'Adj. Close'
forecast_out= int(math.ceil(0.01*len(df)))
forecast_out

32

In [18]:
df['label']= df[forecast_col].shift(-forecast_out)
df.head()

            Adj. Close    hl_pct  pct_change  Adj. Volume      label
Date
2004-08-19   50.322842  8.441017    0.324968   44659000.0  69.399229
2004-08-20   54.322689  8.537313    7.227007   22834300.0  68.752232
2004-08-23   54.869377  4.062357   -1.227880   18256100.0  69.639972
2004-08-24   52.597363  7.753210   -5.726357   15247300.0  69.078238
2004-08-25   53.164113  3.966115    1.183658    9188600.0  67.839414

In [19]:
df.tail()

            Adj. Close    hl_pct  pct_change  Adj. Volume  label
Date
2017-01-23      844.43  2.032436    1.541588    2445107.0    NaN
2017-01-24      849.53  1.097022    0.301070    1668234.0    NaN
2017-01-25      858.45  1.065455    0.574073    1638853.0    NaN
2017-01-26      856.98  1.232175   -0.240964    2631416.0    NaN
2017-01-27      845.03  2.981352   -1.626310    3743255.0    NaN

In [20]:
df.shape

(3133, 5)

In [21]:
df.dropna(inplace=True)

In [22]:
df.shape

(3101, 5)

In [24]:
from sklearn import preprocessing, cross_validation, svm
from sklearn.linear_model import LinearRegression

In [26]:
X= np.array(df.drop(['label'], axis= 1))
y= np.array(df['label'])

In [27]:
X= preprocessing.scale(X)

/home/arko/anaconda2/lib/python2.7/site-packages/sklearn/preprocessing/data.py:167: UserWarning: Numerical issues were encountered when centering the data and might not be solved. Dataset may contain too large values. You may need to prescale your features.
  warnings.warn("Numerical issues were encountered "

In [28]:
X_train, X_test, y_train, y_test= cross_validation.train_test_split(X, y, test_size= 0.2)

In [29]:
clf= LinearRegression()
clf.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [30]:
clf.score(X_test, y_test)

0.96840888935031788

In [31]:
accr= clf.score(X_test, y_test)

In [32]:
clf= svm.SVR()
clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.80248105283321536